* {
    position: relative;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

button {
    cursor: pointer;
}

body {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content-canvas {
      position: relative;
     
      width: 720px;
      height: 480px;
      .canvas {
        background-color: black;
      }
    }
    .content-controller {
      position: absolute;
      width: 720px;
      height: 480px;

      .img-start {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
      }

      .btn-start {
        position: relative;
        top: 40px;
        left: 260px;
        width: 180px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 30px;
        background-color: orange;
      }
    }
  }

  .d-none {
    display: none;
  }
}
