body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .canvas {
        height: 480px;
        width: 720px;
        background-color: black;
    }
}