* {
  position: relative;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: "blastroop";
  src: url("./assets/fonts/blastroop.ttf") format("truetype");
}

button {
  cursor: pointer;
}

body {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #a47b30;

    ul {
      li {
        display: inline-block;
        left: 100px;
        padding: 20px;
        
        a{
          font-family: "blastroop", Arial, Helvetica, sans-serif;
          letter-spacing: 1px;
          font-weight: 900;
          color: black;
        }
      }
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/img/background/background.jpg");
    background-position: center;
    font-family: "blastroop", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;

    h1 {
      height: 70px;
      font-size: 60px;
      font-weight: 900;
      text-align: center;
    }

    .canvas {
      background-color: black;
      display: block;
    }

    .content-controller {
      display: flex;
      flex-direction: column;
      align-items: space-between;
      justify-content: space-between;
      position: absolute;
      top: 70px;
      width: 720px;
      height: 480px;

      .img-control {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .btn-start {
        top: 40px;
        left: 260px;
        width: 180px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 30px;
        background-color: #ffa500;
      }

      .btn-sound {
        position: absolute;
        top: 20px;
        left: 650px;
        border: none;
        border-radius: 10px;
        padding: 5px;
        background-color: orange;

        img {
          top: 2px;
          height: 30px;
          width: 30px;
        }
      }

      .d-none {
        display: none;
      }

      .menu {
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }

    .content-notice {
      display: none;

      h2 {
        text-align: center;
      }
    }

    .content-action {
      display: none;
      justify-content: space-between;
      /* gap: 200px; */
      bottom: 30px;

      .panel-1 {
        left: 50px;
      }

      .panel-2 {
        right: 50px;
      }

      .btn-action {
        height: 50px;
        width: 50px;
        border: none;
        background-color: transparent;
        border-radius: 10px;

        img {
          height: 30px;
          width: 30px;
        }
      }

      .move-right {
        left: 10px;
        transform: rotate(90deg);
      }
      .move-left {
        transform: rotate(-90deg);
      }

      .btn-throw {
        left: 10px;
      }
    }
  }

  .v-hidden {
    visibility: hidden;
  }
}

@media screen and (max-width: 900px),
  (max-height: 480px) and (orientation: landscape) {
  .content {
    article {
      width: 100%;

      h1 {
        display: none;
      }

      .canvas {
        width: 100%;
      }

      .content-controller {
        width: 100%;
        top: 0;

        .btn-start {
          top: 25px;
          left: 35%;
        }

        .btn-sound {
          top: 15px;
          left: 90%;
        }

        .content-action {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-height: 480px),
  (max-width: 900px) and (orientation: landscape) {
  .content {
    article {
      h1 {
        display: none;
      }

      .canvas {
        height: 100vh;
      }

      .content-controller {
        height: 100vh;

        .content-action {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 480px),
  (max-height: 900px) and (orientation: portrait) {
  .content {
    article {
      h1 {
        display: none;
      }
      .canvas {
        display: none;
      }

      .content-controller {
        display: none;

        .content-action {
          display: flex;
        }
      }

      .content-notice {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
